<p>listado-peliculas works!</p>

<div *ngIf="!peliculas">
  <img
    src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif"
  />
</div>

<div *ngIf="peliculas?.length === 0">
  <p>No hay peliculas para mostrar</p>
</div>

<div
  *ngFor="let pelicula of peliculas; let index = index"
  class="pelicula-contenedor"
>
  <div>
    Pelicula {{ index + +1 }}: {{ pelicula.titulo | uppercase }}
    <button style="margin-left: 1rem" (click)="removeMovie(index)">
      Remove
    </button>
  </div>

  <div>
    {{ pelicula.fechaLanzamiento | date : "dd-MMMM-yy" | lowercase }}
  </div>

  <div>
    {{ pelicula.precioEntrada | currency }}
  </div>
  <br />
</div>
