<app-listado-generico
  [listado]="peliculas"
  [listadoVacio]="'No hay peliculas para mostrar'"
>
  <!-- <ng-container cargando>
    <img
      src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700"
    />
  </ng-container> -->
  <ng-container contenido>
    <div class="peliculas-contenedor">
      <div
        *ngFor="let pelicula of peliculas; let index = index"
        class="pelicula-contenedor"
      >
        <a [routerLink]="'/pelicula/' + pelicula.id">
          <img [src]="pelicula.poster" alt="Poster" />
        </a>
        <p>
          <a [routerLink]="'pelicula/' + pelicula.id">{{ pelicula.titulo }}</a>
        </p>
        <app-autorizado [rol]="'admin'">
          <ng-container autorizado>
            <div>
              <a
                mat-flat-button
                color="primary"
                [routerLink]="'peliculas/editar/' + pelicula.id"
              >
                Editar
              </a>
              <button
                mat-flat-button
                color="warn"
                type="button"
                [swal]="{
                icon: 'warning',
                iconColor: '#f44336',          
                title: 'Confirmacion',
                text: '¿Esta seguro que desea borrar el registro?',
                confirmButtonText: 'Si',
                confirmButtonColor: '#f44336',
                showCancelButton: true,
                cancelButtonText: 'No',
                cancelButtonColor: '#3f51b5',
                focusCancel: true,
                reverseButtons: true,
              }"
                (confirm)="borrar(pelicula.id)"
              >
                Borrar
              </button>
            </div>
          </ng-container>
          <ng-container noAutorizado>
            No estas autenticado
          </ng-container>  
        </app-autorizado>
        <!-- <div>
          <h2>
            Pelicula {{ index + +1 }}: {{ pelicula.titulo | uppercase }}
            <button style="margin-left: 1rem" (click)="removeMovie(index)">
              Remove
            </button>
          </h2>
        </div>

        <div>
          {{ pelicula.fechaLanzamiento | date : "dd-MMMM-yy" | lowercase }}
        </div>

        <div>
          {{ pelicula.precioEntrada | currency }}
        </div>

        <div>
          <app-rating (rated)="manejarRated($event)"></app-rating>
        </div>
        <br /> -->
      </div>
    </div>
  </ng-container>
</app-listado-generico>
